WebApplicationGestao/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53302/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53302/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53302/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceGestaoClientes" />
      <xsd:import schemaLocation="http://localhost:53302/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertUserRegDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserRegDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUserRegDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserRegDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserRegDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRegDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserRegDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRegDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FetchUpdatedRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpdatedRecords" />
  </wsdl:message>
  <wsdl:message name="IService1_FetchUpdatedRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpdatedRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserRegDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRegDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserRegDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRegDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserRegDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserRegDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserRegDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserRegDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertUserRegDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertUserRegDetails" message="tns:IService1_InsertUserRegDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertUserRegDetailsResponse" message="tns:IService1_InsertUserRegDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRegDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserRegDetails" message="tns:IService1_GetUserRegDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserRegDetailsResponse" message="tns:IService1_GetUserRegDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchUpdatedRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FetchUpdatedRecords" message="tns:IService1_FetchUpdatedRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FetchUpdatedRecordsResponse" message="tns:IService1_FetchUpdatedRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRegDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateUserRegDetails" message="tns:IService1_UpdateUserRegDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUserRegDetailsResponse" message="tns:IService1_UpdateUserRegDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserRegDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUserRegDetails" message="tns:IService1_DeleteUserRegDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserRegDetailsResponse" message="tns:IService1_DeleteUserRegDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUserRegDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertUserRegDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRegDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserRegDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUpdatedRecords">
      <soap:operation soapAction="http://tempuri.org/IService1/FetchUpdatedRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRegDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateUserRegDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserRegDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUserRegDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53302/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>