WebApplicationGestao/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceGestaoClientes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceGestaoClientes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegDetails" nillable="true" type="tns:RegDetails" />
</xs:schema>